body{
    font-family: 'Open Sans', sans-serif;
    background-color:black;
    padding:5px;
}

.banner-container{
    background-color: rgb(51, 9, 51));
}
.banner-column{
    background-color:red;
    padding: 250px;
    
}
.padding{

    padding: 10px;
}
.ban{
    background-color: rgb(72, 7, 133);
    
    
}
.licol{
    color: rgb(55, 8, 77);
}
.navbar-container{
    background-color: black;
    top: 0;
    position: sticky;
    z-index: 2;

}
.container-fluid{
    
    background-color: rgb(21, 12, 105);
     
    
 }
.col-5{
    border: 2px solid rgb(11, 1, 22);
}
.col-7{
    border: 2px solid rgb(11, 1, 22);
}
.carousel-height{
 
}
.text-color{
    color: rgb(211, 107, 38);
}
#text{
    text-align: center;
}
.padding{
    padding-top: 20px;
}
.container-about{
    padding: 20px;
}