.heading{
    text-align: center;
    color: rgb(194, 212, 31);
    border: 2px solid rgb(67, 13, 138);
    padding: 400px;
    background-color: rgb(32, 8, 88);
    
}
.body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(164, 214, 24);
}
.container-fluid{
    background-color: rgb(51, 9, 51);
    border: 3px solid rgb(56, 111, 175);
    color: white;
}