body{
    font-family: 'Open Sans', sans-serif;
    background-color;
    padding:5px;
}
.container-fluid{
    background-color: rgb(194, 16, 16);
   
    
   
}
.banner-container{
    background-color: rgb(51, 9, 51));
}
.banner-column{
    background-color:red;
    padding: 250px;
    
}
.padding{

    padding: 25px;
}
.ban{
    background-color: rgb(72, 7, 133);
    
}
.licol{
    color: rgb(55, 8, 77);
}
.col-5{
    border: 2px solid rgb(11, 1, 22);
}
.col-7{
    border: 2px solid rgb(7, 5, 129);
}